name: Gitleaks Scan

on:
  push: 
    branches:
      -develop
  pull_request:
    branches: [ "develop" ]

jobs:
  gitleaks:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install GitLeaks
      run: |
        wget -q -o gitleaks.tar.gz https://github.com/gitleaks/gitleaks/releases/download/v8.18.0/gitleaks_8.18.0_linux_x32.tar.gz
        ls -l
        tar -xzvf gitleaks.tar.gz
        chmod +x gitleaks
        sudo mv gitleaks /usr/local/bin

    - name: Run GitLeaks
      run: |
        gitleaks detect --redact
    


  
        
